.reservation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: #fff;
  background-color: #9acd32;
  min-height: 100vh;
}

.reservation-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 50px;
}

.reservation-card {
  display: flex;
}


.reservation-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reservation-table th,
.reservation-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #f2f2f2;
  color: black;
}

.reservation-table th {
  background-color: #9acd32;
  text-align: left;
  color: #fff;
}

.reservation-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.reservation-title {
  font-size: 2rem;
  margin: 20px;
  text-align: center;
}

.underline {
  height: 0.1rem;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .reservation-title {
    font-size: 1.5rem;
  }

  .reservation-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }  
}