body {
  margin: 0;
  overflow-y: hidden;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #9acd32;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.layout {
  display: flex;
}

.outlet {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.sidebar {
  min-height: 100vh;
  width: 250px;
  padding: 2rem;
  transition: var(--transition);
  border: 0.1px solid #d3d3d3;
  overflow-y: hidden;
}

.open-sidebar {
  margin-left: -1rem;
}

.close-sidebar {
  margin-left: -315px;
}

.sidebar-icon {
  position: absolute;
  left: 1%;
  background-color: white;
  border: none;
  font-size: 2rem;
}

.sidebar-icon.close {
  background-color: #9acd32;
  color: #fff;
}

.logo {
  margin-top: 3.3rem;
  height: 10rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  color: black;
  padding-left: 1rem;
  text-decoration: none;
}

.nav-link:hover {
  letter-spacing: 0.1rem;
}

.nav-link.active {
  background-color: #9acd32;
  color: white;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 235px;
  padding-left: 1rem;
  color: #5a5a5a;
}

.logo-img {
  height: 10rem;
  width: 13.6rem;
  margin-left: -3rem;
}

.social-icon {
  display: flex;
  gap: 0.5rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #9acd32;
  color: #fff;
}

.underline {
  height: 0.1rem;
  width: 50%;
  background-color: #fff;
  margin-bottom: 1.5rem;
}

.underline-delete {
  background-color: #000;
}

.item-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  width: 30%;
}

.form-input {
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: 1px solid #fff;
}

.button {
  border: 1px solid #fff;
  padding: 1rem;
  width: 14%;
  background-color: #fff;
  color: #9acd32;
  font-size: 1.1rem;
  border-radius: 0.6rem;
  margin-top: 2rem;
}

.button:hover {
  letter-spacing: 0.1rem;
}

.button.btn-delete {
  background-color: #9acd32;
  color: #fff;
  width: 100%;
  margin-top: 0;
}

.delete-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.delete-list {
  width: 70%;
  display: grid;
  grid-template-columns: 275px 275px 275px;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}

.delete-list-item {
  height: 300px;
}

.item-image {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 50%;
  border: 1px solid gray;
}

.pagination li.active {
  background-color: #9acd32;
  color: #fff;
}

.logout-button {
  border: 1px solid #fff;
  padding: 15px;
    background-color: #9acd32;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.6rem;
    margin-bottom: 2rem;
    cursor: pointer
}

.logout-button:hover {
  letter-spacing: 0.1rem;
}